<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>MiniProject</title>
</head>
<body>
<h1>This is Home</h1>
<div th:if="${boards.isEmpty()}">
    <p>게시판이 없어요 ...</p>
</div>
<div th:unless="${boards.isEmpty()}" th:each="board: ${boards}" >
    <p>[[${board.id}]] <a th:href="@{/board/{id}(id=${board.id})}">[[${board.board}]]</a></p>
</div>
<div>
    <p><a href="/board/boardAll">전체글 보기</a></p>
</div>
<a href="/post/createView?boardId=0">게시글 작성</a>
</body>
</html>